.blur {
  pointer-events: none;
  isolation: isolate;
  transition: opacity 0.3s ease-out;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.inner > div {
  backdrop-filter: inherit;
  -webkit-backdrop-filter: inherit;
}

@supports not (backdrop-filter: blur(1px)) {
  .inner > div {
    background: rgba(0, 0, 0, 0.24);
    opacity: 0.5;
  }
}
